:root {
  --light-color: #EDEFF1;
  --dark-color: #25232E;
}

.darkmode {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & svg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
  --background-color: var(--dark-color);
  --text-color: var(--light-color);
}

:root[saved-theme="light"] {
  color-scheme: light;
  --background-color: var(--light-color);
  --text-color: var(--dark-color);
}

:root[saved-theme="dark"] .darkmode svg {
  fill: var(--light-color);
}

:root[saved-theme="light"] .darkmode svg {
  fill: var(--dark-color);
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }
}

:root[saved-theme="light"] .toggle ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}
